.user-input {
   width: 600px;
   padding: 15px;
   margin: 0 auto;
}

.user-input__form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.user-input__input {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.user-input__input label {
   font-weight: bold;
}

.user-input__input input {
   padding: 5px;
}

.user-input__input input:focus {
   outline-color: #663399;
}

.user-input__controls {
   display: flex;
   flex-direction: row-reverse;
}
